{% extends 'basei.html' %}

{% block title %} Crear Evento {% endblock %}
{%block eventosactivo%}active{%endblock%}

{% block panelheading %} Crear Evento{% endblock %}
{% block content %}
<div class="container">
<form class="col-xs-6" action="." method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<p>Estas seguro de querer eliminar "{{ object.id }}"?</p>
	<input class="btn btn-primary" type="submit" value="Confirmar"/>
	<input class="btn btn-primary" type="reset" value="Limpiar"/>
</form>


</div>




{% endblock %}