{% extends 'basei.html' %}

{% block title %} Invitaciones Pendientes {% endblock %}


{% block panelheading %} Aceptar/Rechazar Invitacion{% endblock %}
{% block content %}
<div class="col-md-6">
<h2 class="text-center">Responder Invitacion</h2>
<ul class="list-group">
	<li class="list-group-item">
	<form action="." method="POST">
		{% csrf_token %}
		{{form.as_p}}

		<p class="text-left">
			<button class="btn btn-primary" type="submit">Aceptar</button>
			<button class="btn btn-primary" type="reset" onclick="history.back()">Cancelar</button>
		</p>
	</form>


</ul>

</div>





{% endblock %}